<h1><%= @project.title %></h1>
<a href = "/projects/<%=@project.id%>/edit">Edit Project</a>
<br />
<br />

<h4>Add volunteers:</h4>

<form action="/projects/<%=@project.id%>" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id %>">
  <input id="name" name="name" type="text">
  <button type="submit">Create Volunteer</button>
</form>
<br />

<h4>Current volunteers:</h4>

<% if @project.volunteers.any?() %>
  <ul>
    <% @project.volunteers.each() do |volunteer| %>
      <li><a href="/volunteers/<%=volunteer.id%>/edit"><%= volunteer.name() %></a> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no current volunteers.</p>
<% end %>

<a href="/">Home</a>
